.arrow-section {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index:2000;

  &.arrow-section--left {
    left: 0;
  }

  &.arrow-section--right {
    right: 0;
  }
}

.arrow {
  cursor: pointer;

  &.arrow--right {
    margin-right: $arrow-margin;
    @include max400px{ margin-right: $arrow-margin-small;}
  }
  &.arrow--left {
    margin-left: $arrow-margin;
    @include max400px{ margin-left: $arrow-margin-small;}
  }
}